  	<div class="d-none d-lg-block mb-4">
  		<div class="card text-center">
  			<div class="card-body">
  				<img class="rounded user-info-img" src="{{ user_profile.profile.image.url }}">
    			<h6 class="card-title mt-2 text-muted">{{user_profile.profile.first_name}} {{user_profile.profile.last_name}}<BR>
    				<span><a href="{% url 'post:user-posts' user_profile.username %}">@{{user_profile.username}}</a></span>
    			</h6>
    			<div class="follow-button">
    				{% include "relationship/follow_button.html" %}
    			</div>
    			<hr>
    			<p class="card-text">{{ user_profile.profile.bio}}</p>
    			<p class="card-text">{{ user_profile.profile.location | upper}}</p>
    			<div id="top_nav">
					<ul class="nav justify-content-center profile-tabs">
						<li class="nav-item">
						    <h6><a class="nav-link active" href="{% url 'post:user-posts' user_profile.username %}"> ({{ posts_count }}) <BR> <span class="text-muted">Posts</span></a></h6>
						</li>
						<li class="nav-item">
							<h6><a class="nav-link ml-lg-4" href="{% url 'activity:activity-list' user_profile.username %}">({{ activities_count }}) <BR> <span class="text-muted">Activity </span></a></h6>
						</li>
						<li class="nav-item">
							<h6><a class="nav-link ml-lg-4" href="{% url 'relationship:following-list' user_profile.username %}"> ({{ following_count }}) <BR> <span class="text-muted"> Following </span></a></h6>
						</li>
						<li class="nav-item">
							<h6><a class="nav-link ml-lg-4" href="{% url 'relationship:followers-list' user_profile.username %}" tabindex="-1" aria-disabled="true"> ({{ followers_count }}) <BR> <span class="text-muted"> Followers </span> </a></h6>
						</li>
					</ul>
			 </div>
  			</div>
		</div>
	</div>

